<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/vue.js" charset="utf-8" type="text/javascript"></script>
    <link href="../css/app.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="page-top">
        <div class="page-content">
            <h2>任务计划列表</h2>
        </div>
    </div>
    <div class="main">
        <h3 class="big-title">添加任务：</h3>
        <input
                type="text"
                class="task-input"
                v-on:keyup.enter="addTodo()"
                v-model="todo"
               placeholder="添加任务，按回车键即可添加任务" />
        <ul class="task-count" v-show="list.length">
            <li>{{
                    noCheckeLength
                }}
                个任务未完成</li>
                        <!--list.filter(function(item){
                                    return !item.isChecked
                                }).length
                             {{}}里面添加表达式，使用filterf返回需要的数组  不要带分号。但此时，模板里面放入了处理逻辑，要尽量避免这样的情况-->
                        <!--使用Vue计算属性：computed，  处理视图模板中的逻辑，模板中只要渲染数据即可-->
            <li class="action">
                <a href="#all" class="active">所有任务</a>
                <a href="#unfinished" >未完成的任务</a>
                <a href="#finished" >完成的任务</a>
            </li>
        </ul>
        <h3 class="big-title">任务列表：</h3>
        <div class="tasks">
            <span class="no-task-tip" v-show="!list.length">未添加任何任务</span>       <!--v-show:后面接表达式，如果为true 则显示，否则 不显示-->
            <ul class="todo-list">
                <li class="todo" :class="{completed:item.isChecked,editing:item==edtorTodos}" v-for="item in filterData">   <!--动态绑定class  class里面是个对象，对象值为true，则添加该class
                                                                                                 class会随着里面值变化，动态添加移除！！避免操作dom  -->  <!--筛选显示 代替list-->
                    <div class="view">
                        <input type="checkbox" v-model="item.isChecked" class="toggle" />   <!--双向绑定isChecked的值  completed这个class也会对应改变 -->
                        <label @dblclick="edtorTodo(item)">{{item.title}}</label>
                        <button class="destroy" @click="deleteTodo(item)"></button>     <!--@为简写 函数将当前点击的item传送过去-->
                    </div>
                    <input class="edit" type="text"
                           v-onfocus="item==edtorTodos"
                           @blur="edtorTodoed(item)"
                           @keyup.enter="edtorTodoed(item)"
                           @keyup.esc="cancelTodo(item)"
                           v-model="item.title" />     <!--自定义指令，v-onfocus：判断input是否在编辑状态 表达式为true时，则正在编辑。
                                                            使用@，绑定失去焦点事件 此时 v-model绑定了title，这边改变了 title也会改变 -->
                </li>
            </ul>
        </div>
    </div>

<script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>